<!DOCTYPE HTML>
<html>
<head>
	<!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
</head>
<body>
	<!--inline[../../common/page/header.ejs]-->
	<div class="container bak">
		<div class="col-xs-12">
			<div class="panel">
				<div class='panel-heading'>
					<h2>更新图片信息</h2>
				</div>
				<div class='panel-body' style='margin: 70px 30px 70px 30px;'>
					<ul id="myTab" class="nav nav-tabs" style='border:0;margin:0 auto;padding:0;'>
						<li class="active col-xs-3 text-center">
							<a class='' href='#scroll_' data-toggle="tab" style='font-size:18px;'>首页滚动图</a>
						</li>
						<li class='col-xs-3 text-center'>
							<a class='' href="#clothes" data-toggle="tab" style='font-size:18px;'>欧美女装</a>
						</li>
						<li class="col-xs-3 text-center">
							<a class='' href='#bags' data-toggle="tab" style='font-size:18px;'>潮流女包</a>
						</li>
						<li class='col-xs-3 text-center'>
							<a class='' href="#shoes" data-toggle="tab" style='font-size:18px;'>前卫女鞋</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class='text-center col-xs-12 tab-pane fade in active' id='scroll_'>
							<button type='button' class="text-right btn btn-success createPicInfo <%= locals.picNumber == 3 ? 'createDis' : '' %>" style='color:#fff;padding:8px 20px;margin:50px 0 30px 0;float:right;'>创建滚动图片</button>
							<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="upload">
								<div class="form-group" style='padding:15px 0 20px 0;'>
									<div class='col-xs-12'>
										<label for="scrollBan">选择需要被更换的图片：</label>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="0" name="flag" class='flag' checked/> 
										<img class='img-responsive center-block' src='<%= locals.picOne%>'>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="1" name="flag" class='flag'/>
										<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="2" name="flag" class='flag'/>
										<img class='img-responsive center-block' src='<%= locals.picThree%>'>
									</div>
								</div>
								<div class="col-xs-12 form-group text-center" style='padding:30px 0 0 0;'>
									<input class="btn btn-primary" type='file' id='file' name='file' style='margin:50px auto 0;'>
								</div>
								<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
									<span class='errInfo'></span>
								</div>
								<div class='col-xs-12 form-group text-center'>
									<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
									<input type='hidden' name='scrollPic' value='scroll'>
									<button type='button' class="btn btn-success upload" style='color:#fff;padding:8px 20px;'>更换图片</button>
								</div>
							</form>
						</div>
						<!--inline[./clothes.ejs]-->
						<!--inline[./bags.ejs]-->
						<!--inline[./shoes.ejs]-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--inline[./create_pic.ejs]-->
	<!--inline[../../common/page/footer.ejs]-->
    <!--inline[../../common/page/foot.ejs]-->
</body>
</html>