<!DOCTYPE HTML>
<html>
<head>
	<!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
</head>
<body>
	<!--inline[../../common/page/header.ejs]-->
	<div class="container bak">
		<div class="col-xs-12">
			<div class="panel">
				<div class='panel-heading'>
					<h2>更新图片信息</h2>
				</div>
				<div class='panel-body' style='margin: 70px 30px 70px 30px;'>
					<ul id="myTab" class="nav nav-tabs" style='border:0;margin:0 auto;padding:0;'>
						<li class="active col-xs-3 text-center">
							<a class='' href='#scroll_' data-toggle="tab" style='font-size:18px;'>首页滚动图</a>
						</li>
						<li class='col-xs-3 text-center'>
							<a class='' href="#clothes" data-toggle="tab" style='font-size:18px;'>欧美女装</a>
						</li>
						<li class="col-xs-3 text-center">
							<a class='' href='#bags' data-toggle="tab" style='font-size:18px;'>潮流女包</a>
						</li>
						<li class='col-xs-3 text-center'>
							<a class='' href="#shoes" data-toggle="tab" style='font-size:18px;'>前卫女鞋</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">

						<div class='text-center col-xs-12 tab-pane fade in active' id='scroll_'>
							<button type='button' class="text-right btn btn-success createPicInfo <%= locals.picNumber == 3 ? 'createDis' : '' %>" style='color:#fff;padding:8px 20px;margin:50px 0 30px 0;float:right;'>创建滚动图片</button>
							<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="upload">
								<div class="form-group" style='padding:15px 0 20px 0;'>
									<div class='col-xs-12'>
										<label for="scrollBan">选择需要被更换的图片：</label>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="0" name="flag" class='flag' checked/> 
										<img class='img-responsive center-block' src='<%= locals.picOne%>'>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="1" name="flag" class='flag'/>
										<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
									</div>
									<div class='col-xs-4'>
										<input type="radio" value="2" name="flag" class='flag'/>
										<img class='img-responsive center-block' src='<%= locals.picThree%>'>
									</div>
								</div>
								<div class="col-xs-12 form-group text-center" style='padding:30px 0 0 0;'>
									<input class="btn btn-primary" type='file' id='file' name='file' style='margin:50px auto 0;'>
								</div>
								<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
									<span class='errInfo'></span>
								</div>
								<div class='col-xs-12 form-group text-center'>
									<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
									<input type='hidden' name='scrollPic' value='scroll'>
									<button type='button' class="btn btn-success upload" style='color:#fff;padding:8px 20px;'>更换图片</button>
								</div>
							</form>
						</div>

						<div class='text-center col-xs-12 tab-pane fade' id='clothes'>
							<ul id="clothTab" class="nav nav-tabs" style='border:0;margin:0 auto;padding:0;'>
								<li class="active col-xs-4 text-center">
									<a class='' href='#clothAdd' data-toggle="tab" style='font-size:18px;'>增加女装</a>
								</li>
								<li class='col-xs-4 text-center'>
									<a class='' href="#clothEdit" data-toggle="tab" style='font-size:18px;'>编辑女装</a>
								</li>
								<li class="col-xs-4 text-center">
									<a class='' href='#clothDel' data-toggle="tab" style='font-size:18px;'>删除女装</a>
								</li>
							</ul>
							<div id="clothTabContent" class="tab-content">
								<div class='text-center col-xs-12 tab-pane fade in active' id='clothAdd'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="clothAdd_">
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='clothAddName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='clothAddPrice' placeholder="填写商品价格">
										</div>
										<div class="form-group text-center" style='padding:30px 0 0 0;'>
											<label for="flag">图片标识：</label>
											<input type='text' id='clothAddFlag' name='flag' class="form-control flag" placeholder="注意flag的值">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='clothAddFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='clothAdd'>
											<button type='button' class="btn btn-success clothAdd_" style='color:#fff;padding:8px 20px;'>增加商品</button>
										</div>
									</form>
								</div>
								<div class='text-center col-xs-12 tab-pane fade' id='clothEdit'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="clothEdit_"> 
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被编辑的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='clothEditName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='clothEditPrice' placeholder="填写商品价格">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='clothEditFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='clothEdit'>
											<button type='button' class="btn btn-success clothEdit_" style='color:#fff;padding:8px 20px;'>编辑商品</button>
										</div>
									</form>
								</div>
								<div class='text-center col-xs-12 tab-pane fade' id='clothDel'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="clothDel_">
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被删除的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='clothDel'>
											<button type='button' class="btn btn-success clothDel_" style='color:#fff;padding:8px 20px;'>删除商品</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class='text-center col-xs-12 tab-pane fade' id='bags'>
							<ul id="bagsTab" class="nav nav-tabs" style='border:0;margin:0 auto;padding:0;'>
								<li class="active col-xs-4 text-center">
									<a class='' href='#bagsAdd' data-toggle="tab" style='font-size:18px;'>增加女包</a>
								</li>
								<li class='col-xs-4 text-center'>
									<a class='' href="#bagsEdit" data-toggle="tab" style='font-size:18px;'>编辑女包</a>
								</li>
								<li class="col-xs-4 text-center">
									<a class='' href='#bagsDel' data-toggle="tab" style='font-size:18px;'>删除女包</a>
								</li>
							</ul>

							<div id="bagsTabContent" class="tab-content">
								<div class='text-center col-xs-12 tab-pane fade in active' id='bagsAdd'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="bagsAdd_">
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='bagsAddName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='bagsAddPrice' placeholder="填写商品价格">
										</div>
										<div class="form-group text-center" style='padding:30px 0 0 0;'>
											<label for="flag">图片标识：</label>
											<input type='text' id='bagsAddFlag' name='flag' class="form-control flag" placeholder="注意flag的值">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='bagsAddFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='bagsAdd'>
											<button type='button' class="btn btn-success bagsAdd_" style='color:#fff;padding:8px 20px;'>增加商品</button>
										</div>
									</form>
								</div>

								<div class='text-center col-xs-12 tab-pane fade' id='bagsEdit'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="bagsEdit_">
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被编辑的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='bagsEditName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='bagsEditPrice' placeholder="填写商品价格">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='bagsEditFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='bagsEdit'>
											<button type='button' class="btn btn-success bagsEdit_" style='color:#fff;padding:8px 20px;'>编辑商品</button>
										</div>
									</form>
								</div>

								<div class='text-center col-xs-12 tab-pane fade' id='bagsDel'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="bagsDel_">
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被删除的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='bagsDel'>
											<button type='button' class="btn btn-success bagsDel_" style='color:#fff;padding:8px 20px;'>删除商品</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class='text-center col-xs-12 tab-pane fade' id='shoes'>
							<ul id="shoesTab" class="nav nav-tabs" style='border:0;margin:0 auto;padding:0;'>
								<li class="active col-xs-4 text-center">
									<a class='' href='#shoesAdd' data-toggle="tab" style='font-size:18px;'>增加女鞋</a>
								</li>
								<li class='col-xs-4 text-center'>
									<a class='' href="#shoesEdit" data-toggle="tab" style='font-size:18px;'>编辑女鞋</a>
								</li>
								<li class="col-xs-4 text-center">
									<a class='' href='#shoesDel' data-toggle="tab" style='font-size:18px;'>删除女鞋</a>
								</li>
							</ul>
							
							<div id="shoesTabContent" class="tab-content">
								<div class='text-center col-xs-12 tab-pane fade in active' id='shoesAdd'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="shoesAdd_">
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='shoesAddName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='shoesAddPrice' placeholder="填写商品价格">
										</div>
										<div class="form-group text-center" style='padding:30px 0 0 0;'>
											<label for="flag">图片标识：</label>
											<input type='text' id='shoesAddFlag' name='flag' class="form-control flag" placeholder="注意flag的值">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='shoesAddFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='shoesAdd'>
											<button type='button' class="btn btn-success shoesAdd_" style='color:#fff;padding:8px 20px;'>增加商品</button>
										</div>
									</form>
								</div>

								<div class='text-center col-xs-12 tab-pane fade' id='shoesEdit'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="shoesEdit_">
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被编辑的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="form-group">
											<label for="picName">商品名字：</label>
											<input type="text" name="picName" class="form-control picName" id='shoesEditName' placeholder="填写商品名称">
										</div>
										<div class="form-group">
											<label for="picPrice">商品价格：</label>
											<input type="text" name="picPrice" class="form-control picPrice" id='shoesEditPrice' placeholder="填写商品价格">
										</div>
										<div class="col-xs-12 form-group text-center" style='padding:0;'>
											<input class="btn btn-primary" type='file' id='shoesEditFile' name='file' style='margin:50px auto 0;'>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='shoesEdit'>
											<button type='button' class="btn btn-success shoesEdit_" style='color:#fff;padding:8px 20px;'>编辑商品</button>
										</div>
									</form>
								</div>

								<div class='text-center col-xs-12 tab-pane fade' id='shoesDel'>
									<form enctype="multipart/form-data" method="post" action="/console/admin/upload" id="shoesDel_">
										<div class="form-group" style='padding:15px 0 20px 0;'>
											<div class='col-xs-12'>
												<label for="scrollBan">选择需要被删除的商品：</label>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="0" name="flag" class='flag' checked/> 
												<img class='img-responsive center-block' src='<%= locals.picOne%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="1" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picTwo%>'>
											</div>
											<div class='col-xs-4'>
												<input type="radio" value="2" name="flag" class='flag'/>
												<img class='img-responsive center-block' src='<%= locals.picThree%>'>
											</div>
										</div>
										<div class="col-xs-12 text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
											<span class='errInfo'></span>
										</div>
										<div class='col-xs-12 form-group text-center'>
											<input type="hidden" name="_csrf" value="<%-locals._csrf%>">		
											<input type='hidden' name='scrollPic' value='shoesDel'>
											<button type='button' class="btn btn-success shoesDel_" style='color:#fff;padding:8px 20px;'>删除商品</button>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--inline[./create_pic.ejs]-->
	<!--inline[../../common/page/footer.ejs]-->
    <!--inline[../../common/page/foot.ejs]-->
    <!-- <script>
    	$(function() {
    		$('#pic_modal').modal('show');
    	})
    </script> -->
</body>
</html>